body {
   background: url("https://www.artnews.com/wp-content/uploads/2020/05/AdobeStock_193564775.jpeg?w=1800");
   background-position: right top;
   background-repeat: repeat;
   margin-left: 900px;
   text-align: center;
   background-attachment: scroll;
   
}

div:hover {
    background-color: yellow;
    border: 1px solid red;
    border-radius: 6px;
    margin-bottom: 90px; ;
    outline: 9px dotted blue;
}

/* this is div1*/
div.div1 {
    opacity: 0.2;
}

/* this is div2*/
div.div2 {
    opacity: 0.3
}

/* this is div3*/
div.div3 {
    opacity: 0.5;
}

h1, h2, h3, p {
    font-size: 2em;
    text-shadow: 3px 3px red;
}