    .div1 {
     text-align: center;
     background-image: url(https://www.quanta.org/apple/apple.jpg);
     border: 8px dashed brown;
     border-radius: 500px;
     padding-bottom: 300px;
     outline: 10px ridge greenyellow;
     background-position: center center;
     transform: scaleY(4);
     box-shadow: 7px 7px yellowgreen;
     text-shadow: 7px 7px yellow;
     width: 1000px;
     height: 1px;
     
     }

     .div2 {
         background-image: repeating-radial-gradient(orange 90%, yellow 70%, red);
         
     }

