body {
  background-image: url(https://www.gardeningknowhow.com/wp-content/uploads/2020/12/lonely-japanese-cherry.jpg);
  background-position: top right;
}

  img {
    float: center;
    box-sizing: border-box;
    margin: 5px 100px 10px 0;
    box-shadow:  3px 3px green    
}

.big {
    font-size: 2em;
    color: red;
}

li {
    list-style-type: square red;
    font-size: 1.5em;
}

h1::after {
    content: url(https://i.ytimg.com/vi/ATWUrscJAec/hqdefault.jpg);
}

h1 {
    width: 30px;
    height: 500px;
}

    